.message, .your-notice, .notice-form {
  margin-left: $default-left-spacing;
}

.your-notice {
  width: 250px;
  margin-bottom: 30px;
  border-top: 1px solid $golden;

  .title {
    text-transform: uppercase;
  }
}

.notice-form {
  padding-bottom: 50px;
}
