%h3 Membership Terms

%p
  Welcome to 48 Harley Street online club (online club) this tells you the terms
  on which apply to your application for and (if successful) membership of our
  online club (membership terms). Please read these terms of use carefully before
  you apply to become a member or guest of our online club and before you start
  to make any use our site.
  %br
  If you are invited to become a member or guest of our online club you will be
  asked to confirm your acceptance of these membership terms together with the
  terms of website and our privacy policy during the online club application
  and registration processes.
  %br
  The date on which these membership terms were first published is 28th
  February 2012.
  %br

%h4 Variations

%p
  We may revise these membership terms at any time by updating these pages and
  you should check these pages regularly to review the current membership terms
  as by making continued use of our site the updated membership terms will be
  binding on you. Certain provisions in these membership terms may be
  superseded by the other terms located on particular pages of our site.

%h4 Terms

%p
  These membership terms will continue to apply at all times while you are a
  member or guest of our online club / make use of our site or any of the
  services. Some of the provisions remain in force after termination of your
  membership.

%h4 Information About Us

%p
  www.48harleystreetmembers.co.uk is a site operated by Harley Street Medical
  Skin Clinic Limited (we or us). We are registered in England and Wales under
  company number 05754637 and have our main trading address as 48 Harley
  Street, London, W1G 9PU.

%h4 Information About You

%p
  As part of the application process you will be asked to provide personal
  information. You may also upload personal information to the public areas of
  the site. The policies and practices we adopt in processing your information
  and the principles which apply to the uploading and disclosing of certain of
  your personal information onto the public areas of the site are set out in on
  our privacy policy. By using our site, you consent to such processing and
  disclosure of personal information and you warrant that all data provided by
  you is accurate.

%h4 Membership Application and Eligibility

%p
  Membership of the online club is by invitation only to individuals aged 18 or
  over and who are either:
  %br
  %br
  (a) Existing full members of 48 Harley Street; or
  %br
  %br
  (b) Non-members of 48 Harley Street but who are currently working in the
  creative industries in London
  %br
  %br
  All applicants must expressly accept these membership terms, the acceptable
  use policy and the Privacy Policy.
  %br
  %br
  Please note that all applications to join the online club have to be approved
  by our membership committee before the application is approved and an
  invitation to join our online club does not guarantee that the membership
  committee will approve your application for membership. We therefore reserve
  the right to reject all applications for membership at our sole discretion.
  %br
  %br
  By using our site and by registering as a member or guest of our online club
  you warrant to us that you are over 18 and that you have the right, authority
  and capacity to agree to and to abide by these membership terms. 

%h4 Transfer

%p
  You are not permitted to sell, transfer or attempt to transfer your
  membership or guest access to our online club nor are you permitted to allow
  any third party to make use of your access privileges via your internet
  connection.
  %br
  %br
  We may transfer or assign our rights in the site, the online club and / or any of the services we provide through the site at any time and without restriction.

%h4 Our Liability

%p
  To the extent permitted by law, we, other members of our group of companies,
  employees, directors and third parties connected to us hereby expressly
  exclude:
  %br
  %br
  (a) All conditions, warranties and other terms which might otherwise be
  implied by statute, common law or the law of equity.
  %br
  %br
  (b) Any liability for any direct, indirect or consequential loss or damage
  incurred by any user in connection with your membership of the online club,
  our site or our services or in connection with the use, inability to use, or
  results of the use of our site or our services, any websites linked to it and
  any materials posted on it, including, without limitation any liability for:
  %br
  %br
  (i) loss of income or revenue;
  %br
  %br
  (ii) loss of business;
  %br
  %br
  (ii) loss of profits or contracts;
  %br
  %br
  (iv) loss of anticipated savings;
  %br
  %br
  (v) loss of data;
  %br
  %br
  (vi) loss of goodwill;
  %br
  %br
  (vii) wasted management or office time; and
  %br
  %br
  (c) for any other loss or damage of any kind, however arising and whether
  caused by tort (including negligence), breach of contract or otherwise, even
  if foreseeable.
  %br
  %br
  This does not affect our liability for death or personal injury arising from
  our negligence, nor our liability for fraudulent misrepresentation or
  misrepresentation as to a fundamental matter, nor any other liability which
  cannot be excluded or limited under applicable law.
  %br
  %br
  The provisions of this section will remain in force after termination.

%h4 Indemnity

%p
  You agree to indemnify and hold us harmless from any losses or costs
  (including reasonable legal fees) we incur arising from your use of our site
  and / or our interactive services, any breach by you of these term, the
  membership terms or the acceptable use policy or any breach of any
  representations or warranties made in those documents or that you have given
  during the application process.
  %br
  %br
  The provisions of this section will remain in force after termination.

%h4 User Disputes

%p
  This site and the services provided on it enable you to socialise and
  interact with other members and guests of our club and, as permitted by these
  terms, our membership terms and our acceptable use policy, to promote your
  services to other members or guests or to identify services or opportunities
  which may be of interest to you. However, if you become involved in any
  dispute with another member, guest or other third party as a result of your
  interaction with other members, guests or third parties through this site,
  you agree to resolve this directly with the person(s) with whom you are in
  dispute. We reserve the right to involve ourselves in such disputes but are
  under no obligation to do so.
  %br
  %br
  The provisions of this section will remain in force after termination.

%h4 Termination

%p
  You may terminate your membership of our online club at any time, by
  contacting a member of 48 Harley Street who will delete your account on
  behalf of 48 Harley Street.
  %br
  %br
  We may terminate your membership and / or restrict your access to the site or
  some or all of the services provided by us, effective upon sending notice of
  termination to you.
  %br
  %br
  Where you are paying by single annual payment termination of your
  subscription will take effect at the end of the annual period for which you
  have paid. We regret that we are unable to offer any rebates of membership
  fee if you decide to terminate your subscription early.
  %br
  %br
  Where you are paying your membership fee by monthly payment, termination of
  your subscription will take effect at the end of the next calendar month
  after the month in which we receive your notice. We may terminate your
  membership and / or restrict your access to the site or some or all of the
  services provided by us by giving you one month's notice of termination.
  %br
  %br

%h4 Termination - Other Circumstances

%p
  We may terminate your membership and / or restrict your access to the site or
  some or all of the services provided by us without prior notice to you in the
  following circumstances:
  %br
  %br
  (a) where we consider (in our sole discretion) that you are abusing the site,
  the services or other members or guests of the club or where you are
  otherwise acting in breach of the these website use terms, these membership
  terms, the acceptable use policy or any of the documents referred to in any
  of those documents;
  %br
  %br
  (b) where there is a regulatory or statutory change limiting the ability to
  provide access to the site or the services;
  %br
  %br
  (c) where there is an event beyond our reasonable control preventing us from
  providing access to the site or the services; or
  %br
  %br
  (d) where we determine that it is no longer economically viable for us to
  continue to provide the site or the services.
  %br
  %br
  If we terminate your membership in any of the circumstances described in the
  above paragraph you will not be entitled to any refund of unused subscription
  fees.
  %br
  %br
  If we terminate your membership of our online club in the circumstances
  described in paragraph (a) above we reserve the right at our sole discretion
  to terminate your membership of 48 Harley Street.
  %br
  %br
  Even after membership is terminated, certain provisions of these membership
  terms, the website use terms, the acceptable use terms and the Privacy Policy
  will all remain in effect.

%h4 General

%p
  Any failure or delay by us in enforcing compliance with these membership
  terms or the terms of any other document referred to in these membership
  terms shall not be a waiver of that or any other provision of these
  membership terms, the website use terms or acceptable use policy.
  %br
  %br
  If any provisions of these membership terms or any of the documents referred
  to in these membership terms is unlawful, void or for any reason
  unenforceable then that provision shall be deemed severable and shall not
  affect the validity and enforceability of the remaining terms or the terms of
  any documents referred to in these membership terms.
  %br
  %br
  A person who is not a party to the agreement entered into between us relating
  to your membership of our online club has no right under the Contracts
  (Rights of Third Parties) Act 1999 to enforce any of these membership terms,
  the website terms or the acceptable use policy but this does not affect any
  right or remedy of a third party specified in those documents or which exists
  or is available apart from that Act.
  %br
  %br
  The headings in these membership terms are for reference purposes only and do
  not limit the scope of extent of the membership terms.
  %br
  %br
  The provisions of this section will remain in force after termination.

%h4 Entire Agreement

%p
  These membership terms and all documents referring to in these membership
  terms constitute the entire agreement between us and you as to your use of
  the site, and your membership and use of our club and the services we provide
  to members and guests.

%h4 Jurisdiction and Applicable Law

%p
  The English courts will have non-exclusive jurisdiction over any claim
  arising from, or related to, a visit to our site although we retain the right
  to bring proceedings against you for breach of these conditions in your
  country of residence or any other relevant country. These membership terms
  and all documents referred to in these membership terms are governed by
  English law.

%h4 Your Concerns and Notices

%p
  If you have any concerns about material which appears on our site, please
  contact adam@harleystreetskinclinic.com
  %br
  %br
  Any notices to be given by either you or us pursuant to or in connection with
  these membership terms or any other documents referred to in these membership
  terms shall be deemed sufficiently given by us to you when forwarded by
  e-mail or facsimile transmission (in each case addressed to you) at the
  e-mail address or facsimile number you have given to us in your application
  for membership, or such other email address as you may later provide to us,
  and when given by you to us at the following e-mail address
  adam@harleystreetskinclinic.com
  %br
  %br

- content_for :javascripts do
  :javascript
    $.backstretch("/assets/events.jpeg");
