.heading
  %h2 YOUR EVENTS
- if @events.blank?
  You have not RSVP'd to any Events yet
- else
  - @events.each do |event|
    .your-event
      %span.title
        = event.title
      %br
      = event.description
      %br
      = event.date.strftime("%d/%m/%Y")
