.grey-slate
  = render 'layouts/flashes'
  .heading
    %h2 ASK THE DOCTOR
    %p Our qualified skincare specialists are on hand to answer any question. Whether you require treatment aftercare tips or have a pre-party beauty emergency, a Harley Street Skin Care doctor is available to members at the click of a button or touch of a screen, to reassure and advise.
    %br
  .content
    = link_to 'Ask A Question', ask_a_question_path, class: 'button'
    - @faqs.each do |faq|
      %p= faq.question
      %p= faq.answer
      %br
  - content_for :javascripts do
    :javascript
      $.backstretch("/assets/background_with_chair.jpg");
