Hello #{@user.first_name},
%br
%br
We have recieved a request to reset your password.
%br
You can reset your password with this link,
= link_to 'reset your password', @url
%br
%br
If you have not requested a password reset, please disregard this email.
%br
%br
Many thanks,
%br
The 48 Harley Street Team

