"Hello #{@user.first_name},"
%br
%br
We have recieved a request to reset your password.
%br
To change your password follow this link, 
= @url
%br
If you have not requested a password reset, please disregard this email.
%br
%br
Many thanks,
%br
The 48 Harley Street Team

