Greetings #{@user.first_name},
%br
%br
You have successfully created an account with 48 Harley Street.
%br
Congratulations and welcome to the club.
%br
%br
Registration is almost complete, please visit #{link_to 'the payments page', @chargify} to gain full access to the members area.
%br
Alternatively you can visit #{link_to 'your details page', @url} and then follow the 'Complete Registration' link
%br
%br
Many thanks,
%br
The 48 Harley Street Team
