@import 'compass';
@import 'compass_twitter_bootstrap';

.topbar {
  position: relative;
  margin-bottom: 40px;
}

h1{
  margin-bottom: 30px;
}

table {
  border: none;

  td {
    vertical-align: middle;
  }

  td.center {
    text-align: center;
  }
}

.help-block{
  text-indent: 15px;
  color: darken(#8bb863, 20%);
}

.go-back::before{
  content: "↩  ";
}
