@import "susy";
@import "compass";
@import "compass/css3";
@import "compass/utilities";
/*
 *= require bootstrap
 */


.topbar {
  position: relative;
  margin-bottom: 40px;
}

table {
  border: none;

  td {
    vertical-align: middle;
  }

  td.center {
    text-align: center;
  }
}
