- content_for :tabs do
  .sub-menu
    %ul.tabs
      %li
        = link_to_unless_current 'Current Offers', offers_path do
          %span.current Current Offers
      %li
        = link_to_unless_current 'Our Partners', '#' do
          %span.current Our Partners
  .clear
%ul.offers-list