%h5 our partners
%p
  We understand that beauty is more than skin deep. To ensure our members benefit from total, unadulterated indulgence, we have partnered with premium brands that share our philosophy. It’s worth checking this section every so often to take advantage of all the latest offers we’ve managed to secure just for you.
- @partners.each do |p|
  .partner
    .logo
      = image_tag p.logo.logo.url
    .details
      .name
        %h5
          = p.name
      .description
        = p.description
    .clear
- content_for :javascripts do
  :javascript
    $.backstretch("/assets/events.jpeg");
