html {
  height: 100%;
}

body {
  height: 100%;
  color: $bodycolor;
  font: #{$fontsize}/#{$lineheight} $sans;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: $slate-grey;

  .vertical-wrapper, .horizontal-wrapper {
    float: left;
    margin-left: $main-nav-width;
    z-index: 2;
  }

  .vertical-wrapper {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .horizontal-wrapper {
    position: absolute;
    height: 100%;
    width: 2000px;
    bottom: 0;
  }

  .main-content {
    padding-top: $main-top-spacing;
    padding-left: $main-inner-spacing;
    padding-right: $main-inner-spacing;
    width: 500px;
    z-index: 1;
  }

  .half-width-translucent {
    position: fixed;
    width: 700px;
    background: $slate-grey;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  .offers-content {
  }

  .your-stuff {
    position: fixed;
    margin-top: 90px;
    background-color: $slate-grey;
    padding-top: 40px;
    background: $slate-grey;
    z-index: 0;
  }

  .sign-up-content {
    margin-left: $main-nav-width;
    margin-top: $main-top-spacing;
    z-index: 1;

    .content-holder {
      position: relative;
      min-height: 300px;
      width: 400px;
      padding-left: $main-inner-spacing;
      padding-top: 40px;
      padding-bottom: 3em;
      background-color: $slate-grey;
    }
  }

  .your-content {
    margin-left: $main-nav-width;
    margin-top: $main-top-spacing;
    background: $slate-grey;
    z-index: 1;

    .content-holder {
      position: relative;
      min-height: 300px;
      width: 500px;
      padding-left: $main-inner-spacing;
      padding-top: 40px;
      padding-bottom: 3em;
      background-color: $slate-grey;
    }
  }

  .sign-up {
    margin-top: 0;
  }

  .noticeboard-holder {
    width: inherit;
  }

  .sub-menu {
    position: relative;
    height: 34px;
    margin-bottom: -35px;

    .tabs {
      @include horizontal-list;
      position: fixed;
      margin-left: $main-nav-width;
      z-index: 4;
      top: 0;

      li {
        padding: 0;

        a, .current {
          padding: 5px 8px;
        }

        a, a:active, a:visited, a:focus {
          display: block;
          background-color: black;

          &:hover{
            color: white;
            background-color: #333;
          }
        }

        .current {
          display: block;
          background-color: $golden;
          color: white;
        }
      }
    }
  }
}

/* Text and image selection styling */

::selection {
  background: $highlight;
  color: #fff;
}

::-moz-selection {
  background: $highlight;
  color: #fff;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/*  =LINKS
----------------------------------------------------------------------*/

a {
  -webkit-tap-highlight-color: $highlight;
  color: white;
  text-decoration: none;
}

a:hover, a:focus {
  color: saturate($accent, 20%);
}

/*  =HEADINGS
----------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-family: $sans_book;
  font-weight: normal;
  text-transform: uppercase;
}

/* Grouped headings */

hgroup {
  margin-bottom: $lineheight;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
}

/* Sub headings, in a hgroup for instance */

.sub {
  color: #888;
  font-style: italic;
}

h1 {
  font-size: 2.618em;
  line-height: 28px;
  margin-bottom: $lineheight;

  &.huge {
    font-size: 4.236em;
    line-height: $lineheight*3;
  }
}

h2 {
  font-size: 1.984em;
  line-height: $lineheight*2;
  margin-bottom: ceil($lineheight / 2);
}

h3 {
  font-size: 1.618em;
  margin-bottom: ceil($lineheight / 2);
}

h4 {
  font-size: 1.226em;
  margin-bottom: ceil($lineheight / 4);
}

h5 {
  font-size: 1.1em;
  margin-bottom: ceil($lineheight / 2);
}

p {
  margin-bottom: 2em;
}

/*  =MISC ELEMENTS
----------------------------------------------------------------------*/

pre {
  background-color: #eee;
  padding: ceil($lineheight / 4) $gutter;
}

blockquote {
  font-family: $serif;
  font-size: 1.1em;
}

.message, .notice {
  width: 500px;
  margin-bottom: 2em;
  background-color: $purple;
  text-align: center;
}

.help-inline {
  color: lighten($purple, 30%);
  font-family: $sans_book;
}

.error_notification {
  background-color: lighten($purple, 10%);
  text-align: center;
}
