.main-nav {
  width: $main-nav-width;
  position: fixed;
  margin-right: 0;
  height: 100%;
  background-color: $purple;
  left: 0;
  top: 0;
  z-index: 3;

  .logo {
    display: block;
    margin: 66px 0 40px;
    text-align: center;
  }

  .menu {
    margin: 0 0 75px;
    padding: 0 21%;

    li {
      display: block;
      height: auto;
      font-size: 13px;
      border-top: 1px solid $bodycolor;
      color: $golden;

      a, a:active, a:visited {
        display: block;
        padding-bottom: 1px;
        color: $bodycolor;
        font-size: 13px;
        text-decoration: none;

        &:hover{
          color: $golden;
        }
      }
    }
  }

  .logout {
    margin: 0;
    padding: 0 21%;

    li {
      display: block;
      height: auto;

      a, a:active, a:visited {
        display: block;
        color: $bodycolor;
        text-decoration: none;
        line-height: 15px;
        font-size: 9px;
        &:hover{
          color: $golden;
        }
      }
    }
  }

  address {
    font-style: normal;
    font-size: 0.8em;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0 21%;
    line-height: 13px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 15px;
  }
}

