#flash{
  height: auto;
  width: 68%;
  overflow: hidden;
  position: absolute;
}

.notice {
  width: 267px;
  margin: 0 auto;
  padding: 10px;
  background-color: #ffedad;
  word-break: break-word;
  border: 1px solid #c46003;
  color: #c46003;

  a, a:active, a:focus, a:visited {
    display: block;
    margin-bottom: 10px;
  }

  p {
    position: relative;
    text-align: center;
    &::before{
      content: "!";
      position: absolute;
      display: block;
      padding: 0 5px;
      font-weight: bold;
      font-size: 1.5em;
      background-color: #FFF;
      @include border-radius;
    }
  }
}
