.noticeboard {
  margin-top: 20px;
  padding-bottom: 6em;

  .notice-panel {
    width: 267px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 10px 0 20px 0;
    word-break: break-word;
    color: white;
    border-bottom: 1px solid $golden;

    a, a:active, a:focus, a:visited {
      display: block;
      margin-bottom: 10px;
    }

    p {
      position: relative;
      text-align: center;
      &::before{
        content: "!";
        position: absolute;
        display: block;
        padding: 0 5px;
        font-weight: bold;
        font-size: 1.5em;
        background-color: #FFF;
        @include border-radius;
      }
    }
  }
}

.notice {
  width: 800px;
  padding-bottom: 6em;

  .image {
    float: left;
  }

  .description {
    float: left;
    padding: 0 10px;
  }
}
