// Dimensions

$main-nav-width: 220px;
$gutter: 20px;

// Colors

$bodycolor:   #C4BFB8;
$dimmed-white: #B2ADB0;
$golden: #a49452;
$purple: #170911;
$slate-grey: #1E1E1D;

$accent:    darken($golden, 10%);   // Blue
$comp:      lighten(yellow, 30%);   // Dark blue
$highlight:   lighten($golden, 20%);          // For callouts, for example

// Typography

$serif:     Georgia, "Times New Roman", serif;
$sans:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospaced:  Monaco, "Courier New", Courier, monospace;

$fontsize:      15px;
$lineheight:    24px;

// Imports

@import "susy";
@import "library/normalize";
@import "compass";
@import "compass/css3";
@import "compass/utilities";

// Custom mixins

@mixin debugmessage($message, $color: yellow) {
  &::before {
    content: $message;
    font-weight: bold;
    display: block;
    text-align: center;
    background: #{$color};
    position: absolute;
    @include stretch($height: false);
    z-index: 999;
    top: 0;
  }
}


@mixin stretch($height: true, $width: true) {
  position: absolute;
  @if($height == true) {
    top: 0;
    bottom: 0;
  }
  @if($width == true) {
    right: 0;
    left: 0;
  }
}

// Animations

/*  =GLOBAL ANIMATIONS
----------------------------------------------------------------------*/

/* Reseting animation */

@-webkit-keyframes reset {
  0%      { opacity: 0;}
  100%    { opacity: 0;}
}
