// Dimensions

$main-nav-width: 220px;
$gutter: 20px;
$main-top-spacing: 70px;
$main-inner-spacing: 90px;

// Colors

$bodycolor:   #C4BFB8;
$dimmed-white: #B2ADB0;
$golden: #a49452;
$purple: #3B0025;
$slate-grey: #1E1E1D;

$accent:    darken($golden, 10%);   // Blue
$comp:      lighten(yellow, 30%);   // Dark blue
$highlight:   lighten($golden, 20%);          // For callouts, for example

// Typography

@font-face {
    font-family: 'QuicksandLight';
    src: font-url('Quicksand_Light-webfont.eot');
    src: local('QuicksandLight'),
         font-url('Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Quicksand_Light-webfont.woff') format('woff'),
         font-url('Quicksand_Light-webfont.ttf') format('truetype'),
         font-url('Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandBook';
    src: font-url('Quicksand_Book-webfont.eot');
    src: local('QuicksandBook'),
         font-url('Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Quicksand_Book-webfont.woff') format('woff'),
         font-url('Quicksand_Book-webfont.ttf') format('truetype'),
         font-url('Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

$serif:     Georgia, "Times New Roman", serif;
$sans:      'QuicksandLight', Helvetica, sans-serif;
$sans_book: 'QuicksandBook', Helvetica, sans-serif;
$monospaced:  Monaco, "Courier New", Courier, monospace;

$fontsize:      11px;
$lineheight:    20px;

// Imports

@import "susy";
@import "library/normalize";
@import "compass";
@import "compass/css3";
@import "compass/utilities";

// Custom mixins

@mixin debugmessage($message, $color: yellow) {
  &::before {
    content: $message;
    font-weight: bold;
    display: block;
    text-align: center;
    background: #{$color};
    position: absolute;
    @include stretch($height: false);
    z-index: 999;
    top: 0;
  }
}


@mixin stretch($height: true, $width: true) {
  position: absolute;
  @if($height == true) {
    top: 0;
    bottom: 0;
  }
  @if($width == true) {
    right: 0;
    left: 0;
  }
}

// Animations

/*  =GLOBAL ANIMATIONS
----------------------------------------------------------------------*/

/* Reseting animation */

@-webkit-keyframes reset {
  0%      { opacity: 0;}
  100%    { opacity: 0;}
}
