/*	=STATIC PAGES / HOME STYLES
----------------------------------------------------------------------*/
.static_pages #intro{
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  min-width: 330px;
  padding: 55px 70px 30px;
  ul{
    margin: 30px 0;
    padding: 0;
    list-style-position: inside;
  }
  a[href*='sign-up']{
    margin-bottom: 30px;
  }
  form{
    label{
      width: 90px;
      display: inline-block;
      margin-bottom: 10px;
    }
    
    p{
      font-size: 0.9em;
      text-indent: 93px;
    }
    .actions{
      clear: both;
      margin: 20px 0  15px 93px;
      }
  }
  a[href*='password-reset']{
    font-size: 0.9em;
  }
}