// the UL of offers
.offers-list {
  @include no-bullets;
  margin: -18px 0 0 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: -3px;

    img {
      position: absolute;
      bottom: 0;
      height: 90%;
    }
  }
}

