%nav.main-nav
  = link_to image_tag('logo.png'), root_path
  %ul.menu
    %li
      = link_to 'Account', account_path
    %li
      VIP Offers
    %li
      = link_to 'Events', events_path
    %li
      Ask A GP
    %li
      = link_to 'Notice Board', notices_path
